# Auto detect text files and perform LF normalization
Curso-JavaScript-Hode/Calculadora/scripts/* linguist-vendored
Curso-JavaScript-Hode/Calculadora/controllers/* html linguist-vendored=false
Curso-JavaScript-Hode/Calculadora/* javascript linguist-detectable=true
